<% form_tag(universidades_path, :method => :get, :autocomplete => "off", :class => "generic-form") do  %>
	<%= text_field_tag :universidad_q, params[:universidad_q], "data-observe" => "true" %>
	<%= submit_tag "Buscar Universidad", :name => nil %>
  <%= image_tag 'ajax-loader.gif', :class => "loading", :style => "display:none;" %>
<% end %> <br />

<% content_for :header do %>
  <h1>Universidades</h1>
<% end %>

<h3>Se encontraron <span id="resultados_universidad"><%= @universidades.total_count %></span> resultados</h3>
<br />

<div id="listado">
	<%= render @universidades %>
</div>
<br />
<%= link_to "Nueva Universidad", new_universidad_path if can? :create, Universidad %>

<div id="next_link">
  <%= render :partial => 'shared/show_more', :object => @universidades,
              :locals => { :url => mas_universidades_universidades_path(:js), :parametros => { :universidad_q => 'universidad_q' } } %>
</div>


