<% form_tag(universidades_path, :method => :get, :autocomplete => "off") do  %>
	<%= text_field_tag :universidad_q %>
	<%= submit_tag "Enviar", :name => nil %>
<% end %>

<h1>Universidades</h1>

<div id="listado">
	<%= render @universidades %>
</div>
<br />
<%= link_to "Nueva Universidad", new_universidad_path if can? :create, Universidad %>

<div id="next_link">
  <%= render :partial => 'shared/show_more', :object => @universidades,
              :locals => { :url => mas_universidades_universidades_path(:js), :parametros => { :universidad_q => 'universidad_q', :page => "page" } } %>
</div>


