<%= render 'shared/search_form', :url => '/universidades' %>

<h1>Listing universidades</h1>

<div id="listado">
	<%= render @universidades %>
</div>
<br />
<%= link_to "Nueva Universidad", new_universidad_path %>
<div id="next_link">
  <% if !@universidades.last_page? %>
    <br/>
    <center>
      <div id="loadingDiv"><%= image_tag 'ajax-loader.gif' %></div>
      <%= link_to "Mas Resultados", '#', :controller => "universidades", :action => "mas_universidades", :class => "mas" %>
    </center>
  <% end %>
</div>

<script>
	$("#q").bind("textchange", function(){
		$.get("/universidades.js", {q: $("#q").val()});
	});

  $('#loadingDiv')
     .hide()  // hide it initially
     .ajaxStart(function() {
         $(this).show();
     })
     .ajaxStop(function() {
         $(this).hide();
     });

  function loadMore(pageNo) {
    var url = '/universidades/page/';
    $.get(url + pageNo, function(response) {
      $("#listado").append(response);
    });
  }


  $(document).ready(function() {
    var currPage = 1;
    $("a.mas").click(function() {
      loadMore(++currPage);
    });
  });

</script>
