<% form_tag(universidades_path, :method => :get, :autocomplete => "off") do  %>
	<%= text_field_tag :universidad_q %>
	<%= submit_tag "Enviar", :name => nil %>
<% end %>

<h1>Listing universidades</h1>

<div id="listado">
	<%= render @universidades %>
</div>
<br />
<%= link_to "Nueva Universidad", new_universidad_path %>
<div id="next_link">
	
  <% if !@universidades.last_page? %>
    <br/>
    <center>
      <div id="loadingDiv"><%= image_tag 'ajax-loader.gif' %></div>
      <%= link_to "Mas Resultados", '#', :controller => "universidades", :action => "mas_universidades", :id => "mas" %>
    </center>
  <% end %>
</div>