<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @universidad.nombre %>
</p>

<%= link_to 'Cursos', universidad_campus_index_path(@universidad) %> |
<%= link_to 'Edit', edit_universidad_path(@universidad) %> |
<%= link_to 'Back', universidades_path %>
