<div id="calificaciones_curso_profesor_<%= curso_profesor.curso_id %>_<%= curso_profesor.profesor_id %>">
  <%= render curso_profesor.calificaciones %>
</div>

<% if current_usuario == nil %>
  Necesitas <%= link_to 'iniciar sesion', new_usuario_session_path %>
    <%= link_to (image_tag "twitter_16.png"), "/auth/twitter" %>
		<%= link_to (image_tag "facebook_16.png"), "/auth/facebook" %>
  para comentar o <%= link_to 'registrate', new_usuario_registration_path %>

<% elsif !curso_profesor.calificaciones.find_by_usuario_id(current_usuario.id) %>
<div id="calificaciones_form">
		<%= render :partial => 'calificaciones/form', :locals => {:calificacion => Calificacion.new, 
															  	  :curso_profesor_id => curso_profesor.id} %>
</div>
<% else %>
  <div id="ha_comentado">
    Ya has comentado aquí, ¡gracias!
  </div>
<% end %>
