<div class="columns on-3 profesor-entry">
  <div class="container wrapper">
    <div class="column fixed image" style="width: 172px">
      <div class="container">
        <%# link_to (image_tag curso_profesor.profesor.avatar_url(:thumb).to_s), profesor_path(curso_profesor.profesor) %>
      </div>
    </div>
    <div class="column fixed info" style="width: 415px">
      <div class="container">
        <h3>
          <% if can? :read, curso_profesor.profesor %>
            <%= link_to truncate(curso_profesor.profesor.nombre_completo, :length => 23 ),
                        profesor_path(curso_profesor.profesor,
                        :anchor => "curso_profesor_#{curso_profesor.curso.id}_#{curso_profesor.profesor.id}"),
                        :title => curso_profesor.profesor.nombre_completo, :class => "tooltip" %>
          <% end %>
        </h3>
        <h4>
          <%= link_to truncate(curso_profesor.curso.nombre, :length => 40),
                      profesor_path(curso_profesor.profesor,
                      :anchor => "curso_profesor_#{curso_profesor.curso.id}_#{curso_profesor.profesor.id}"),
                      :title => curso_profesor.curso.nombre, :class => "tooltip" %>
        </h4>
        <%= link_to 'Edit', edit_profesor_path(curso_profesor.profesor) if can? :edit, curso_profesor.profesor %>
        <div class="universidades">
          <%= render 'shared/universidad_campus', :universidad => curso_profesor.curso.universidad,
                                                  :campus => curso_profesor.curso.campus %>
        </div>
      </div>
    </div>
    <div class="column fixed rating" style="width: 121px">
      <div class="container">
        <div class="calif">
          <div class="label">Calificaci&oacute;n</div>
          <div class="amount"><%= curso_profesor.promedio_general %></div>
        </div>
        <div class="calif resen">
          <div class="label">Rese&ntilde;as</div>
          <div class="amount"><%= curso_profesor.calificaciones.size %></div>
        </div>
      </div>
    </div>
  </div>
</div>
