<%= form_for(@curso_profesor) do |f| %>
  <% if @curso_profesor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso_profesor.errors.count, "error") %> prohibited this curso_profesor from being saved:</h2>

      <ul>
      <% @curso_profesor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :curso_id %><br />
    <%= f.text_field :curso_id %>
  </div>
  <div class="field">
    <%= f.label :profesor_id %><br />
    <%= f.text_field :profesor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
