<p>Reseñas del profesor: <span id="amount_profesor"><%= profesor.calificaciones.size %></span></p>
<br />
<br />

<h2><span id="amount_curso_profesor"><%= curso_profesor.calificaciones.size %></span> Reseñas del curso <%= curso_profesor.curso.nombre %></h2>
<table id="profesor_averages">
	<tr class="odd">
		<th>Puntualidad</th>
		<th>Amigable</th>
		<th>Conocimiento</th>
		<th>Claridad</th>
		<th>Flexibilidad</th>
	</tr>
	
	<tr class="even">
		<td><span class="profesor_detail"><%= curso_profesor.promedio_puntualidad %></span></td>
		<td><span class="profesor_detail"><%= curso_profesor.promedio_amigable %></span></td>
		<td><span class="profesor_detail"><%= curso_profesor.promedio_conocimiento %></span></td>
		<td><span class="profesor_detail"><%= curso_profesor.promedio_claridad %></span></td>
		<td><span class="profesor_detail"><%= curso_profesor.promedio_flexibilidad %></span></td>
	</tr>	
</table>
