<p>Reseñas: <%= profesor.calificaciones.size %></p>
<br />


<table>
	<tr class="odd">
		<td>Cantidad de reseñas del curso:</td>
		<td><span class="profesor_detail"><%= curso_profesor.calificaciones.size %></span></td>
	</tr>
	
	<tr class="even">
		<td>Promedio puntualidad:</td>
		<td><span class="profesor_detail"><%= curso_profesor.promedio_puntualidad %></span></td>
	</tr>
	
	<tr class="odd">
		<td>Promedio amigable:</td>
		<td><span class="profesor_detail"><%= curso_profesor.promedio_amigable %></span></td>
	</tr>
	
	<tr class="even">
		<td>Promedio conocimiento:</td>
		<td><span class="profesor_detail"><%= curso_profesor.promedio_conocimiento %></span></td>
	</tr>
	
	<tr class="odd">
		<td>Promedio claridad:</td>
		<td><span class="profesor_detail"><%= curso_profesor.promedio_claridad %></span></td>
	</tr>
	
	<tr class="even">
		<td>Promedio flexibilidad:</td>
		<td><span class="profesor_detail"><%= curso_profesor.promedio_flexibilidad %></span></td>
	</tr>
	
</table>