<h1>Listing cursos_profesores</h1>

<table>
  <tr>
    <th>Curso</th>
    <th>Profesor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cursos_profesores.each do |curso_profesor| %>
  <tr>
    <td><%= curso_profesor.curso_id %></td>
    <td><%= curso_profesor.profesor_id %></td>
    <td><%= link_to 'Show', curso_profesor %></td>
    <td><%= link_to 'Edit', edit_curso_profesor_path(curso_profesor) %></td>
    <td><%= link_to 'Destroy', curso_profesor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Curso profesor', new_curso_profesor_path %>
