<% title "Inicia Sesión" %>

<p><%= link_to "Registrate", signup_path %></p>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :login, "Nombre de usuario o Email" %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p><%= submit_tag "Inicia sesión" %></p>
<% end %>
