<h1>Listing campus</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Ciudad</th>
    <th>Estado</th>
    <th>Universidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campus.each do |campus| %>
  <tr>
    <td><%= campus.nombre %></td>
    <td><%= campus.ciudad %></td>
    <td><%= campus.estado %></td>
    <td><%= campus.universidad_id %></td>
    <td><%= link_to 'Show', [@universidad, campus] %></td>
    <td><%= link_to 'Edit', edit_universidad_campus_path(@universidad,campus) %></td>
    <td><%= link_to 'Destroy', [@universidad,campus], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campus', new_universidad_campus_path(@universidad) %>
