<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @campu.nombre %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @campu.ciudad %>
</p>

<p>
  <b>Estado:</b>
  <%= @campu.estado %>
</p>

<p>
  <b>Universidad:</b>
  <%= @campu.universidad_id %>
</p>


<%= link_to 'Edit', edit_campu_path(@campu) %> |
<%= link_to 'Back', campus_path %>
