<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @campus.nombre %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @campus.ciudad %>
</p>

<p>
  <b>Estado:</b>
  <%= @campus.estado %>
</p>

<p>
  <b>Universidad:</b>
  <%= @campus.universidad_id %>
</p>


<%= link_to 'Edit', edit_campus_path(@campus) %> |
<%= link_to 'Back', universidad_campus_index_path(@campus.universidad) %>
