<%= form_for comentario do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_area :comentario %>
	<%= f.submit %>
  </p>
    <%= f.hidden_field :calificacion_id, :value => calificacion_id %>
  
<% end %>
