<%= form_for(@profesor, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

	<p>
		<%= image_tag @profesor.avatar_url(:thumb).to_s unless @profesor.avatar_url.nil? %>
	</p>
	<div class="field">
    <%= f.label :avatar, "Imagen" %><br />
	  <%= f.file_field :avatar %>
  </div>
	
  <h5><%= @profesor.nombre_completo %></h5>

	<br />
 	Universidad: <br />
	<%= current_usuario.universidad.nombre if current_usuario %>
	<br /><br />
  	Campus: <br />
	<%= current_usuario.campus.nombre if current_usuario %>
<br />
	<div class="field">
		<%= f.label :cursos_tokens, "Cursos" %>
		<%= f.text_field :cursos_tokens, "data-pre" => @profesor.cursos.map(&:attributes).to_json %>
	</div>
	<%= hidden_field_tag :profesor_campus_id, current_usuario.campus.id  %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
