<%= form_for(@profesor, :html => { :multipart => true, :class => "generic-form" }) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
	<br />
  <div class="field">
    <%= f.label :apellido_paterno %><br />
    <%= f.text_field :apellido_paterno %>
  </div>
	<br />
	<div class="field">
    <%= f.label :apellido_materno %><br />
    <%= f.text_field :apellido_materno %>
  </div>
	<br />
		<%= image_tag @profesor.avatar_url(:thumb).to_s unless @profesor.new_record?%>
  <div class="field">
    <%= f.label :avatar, "Imagen" %><br />
	  <%= f.file_field :avatar %>
  </div>
	<br />
 	Universidad: <br />
	<strong><%= current_usuario.universidad.nombre if current_usuario %></strong>
	<br /><br />
  	Campus: <br />
	<strong><%= current_usuario.campus.nombre if current_usuario %></strong>
<br />	<br />
	<div class="field">
		<%= f.label :cursos_tokens, "Cursos:" %>
		<%= f.text_field :cursos_tokens, "data-pre" => @profesor.cursos.map(&:attributes).to_json %>
	</div>
	<%= hidden_field_tag :profesor_campus_id, current_usuario.campus.id  %>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
