<%= form_for(@profesor, :html => { :multipart => true, :class => "generic-form" }) do |f| %>
  <% if @profesor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profesor.errors.count, "error") %> prohibited this profesor from being saved:</h2>

      <ul>
      <% @profesor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
	<br />
  <div class="field">
    <%= f.label :apellido_materno %><br />
    <%= f.text_field :apellido_materno %>
  </div>
	<br />
  <div class="field">
    <%= f.label :apellido_paterno %><br />
    <%= f.text_field :apellido_paterno %>
  </div>
	<br />
  <div class="field">
    <%= f.label :avatar %><br />
	  <%= f.file_field :avatar %>
  </div>
	<br />
 	Universidad: <br />
	<%= current_usuario.universidad.nombre if current_usuario %>
	<br /><br />
  	Campus: <br />
	<%= current_usuario.campus.nombre if current_usuario %>
<br />	<br />
	<div class="field">
		<%= f.label :cursos_tokens, "Cursos:" %>
		<%= f.text_field :cursos_tokens, "data-pre" => @profesor.cursos.map(&:attributes).to_json %>
	</div>
	<%= hidden_field_tag :profesor_campus_id, current_usuario.campus.id  %>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
