<div class="columns on-3 profesor-entry">
  <div class="container wrapper">
    <div class="column fixed image" style="width: 172px">
      <div class="container">
        <%= link_to (image_tag profesor.avatar_url(:thumb).to_s), profesor_path(profesor) %>
      </div>
    </div>
    <div class="column fixed info" style="width: 415px">
      <div class="container">
        <h3><%= link_to truncate(profesor.nombre_completo, :length => 23), profesor, :class => "tooltip", :title => profesor.nombre_completo if can? :read, profesor %></h3>
        <%= link_to 'Editar', edit_profesor_path(profesor) %>
        <div class="universidades">
          <%= render 'shared/universidad_campus', :universidad => profesor.universidad,
                                                  :campus => profesor.campus %>
        </div>
        <div class="cursos">
          <%= links_coma profesor.cursos %>
        </div>
      </div>
    </div>
    <div class="column fixed rating" style="width: 121px">
      <div class="container">
        <div class="calif">
          <div class="label">Calificaci&oacute;n</div>
          <div class="amount"><%= profesor.promedio %></div>
        </div>
        <div class="calif resen">
          <div class="label">Rese&ntilde;as</div>
          <div class="amount"><%= profesor.calificaciones.size %></div>
        </div>
      </div>
    </div>
  </div>
</div>
