<% content_for :header do %>
	<h3>Mostrando <span id="resultados_profesor"><%= @profesores.size %></span> resultados</h3>
<% end %>

<% form_tag(profesores_path, :method => :get, :autocomplete => "off", :class => "generic-form") do  %>
	<%= text_field_tag :profesor_q %>
	<%= submit_tag "Enviar", :name => nil %>
<% end %>
<br />

<div id="listado">
	<%= render @profesores %>
</div>
<br />

<%= link_to 'New Profesor', new_profesor_path if can? :create, Profesor  %>

