<% content_for :header do %>
	<h3>Se encontraron <span id="resultados_profesor"><%= @profesores.total_count %></span> resultados</h3>
<% end %>

<% form_tag(profesores_path, :method => :get, :autocomplete => "off", :class => "generic-form") do  %>
	<%= text_field_tag :profesor_q %>
	<%= submit_tag "Buscar Profesor", :name => nil %>
	<%= image_tag 'ajax-loader.gif', :class => "loading", :style => "display:none;" %>
<% end %>
<br />

<div id="listado">
	<%= render @profesores %>
</div>
<br />

<%= link_to 'New Profesor', new_profesor_path if can? :create, Profesor  %>

<div id="next_link">
  <%= render :partial => 'shared/show_more', :object => @profesores,
              :locals => { :url => "/profesores/mas_resultados.js", :parametros => { :profesor_q => :profesor_q, :page => :page } } %>
</div>

