<% content_for :header do %>
  <h1>Profesores</h1>
<% end %>

<div id="info-profesores" class="columns on-2">
  <div class="column">
    <% form_tag(profesores_path, :method => :get, :autocomplete => "off", :class => "generic-form") do  %>
	    <%= text_field_tag :profesor_q, params[:profesor_q], "data-observe" => "true" %>
	    <%= submit_tag "Buscar Profesor", :name => nil %>
	    <%= image_tag 'ajax-loader.gif', :class => "loading", :style => "display:none;" %>
    <% end %>
  </div>
  <div class="column center">
    <p>¿No encontraste lo que buscabas?</p>  
    <% if !usuario_signed_in? %>
      <h3 class="sign_up_header">
        <%= link_to 'Regístrate', new_usuario_session_path %>
          <%= link_to (image_tag "twitter_16.png"), "/auth/twitter" %>
      		<%= link_to (image_tag "facebook_16.png"), "/auth/facebook" %>
        o
        <%= link_to 'Inicia Sesión', new_usuario_session_path %>
        <br/>
        para agregar un profesor
      </h3>
    <% else %>
      <h3 class="sign_up_header">
        <%= link_to 'Registra a un profesor', new_profesor_path if can? :create, Profesor  %>
      </h3>
    <% end %>
  </div>
</div>
<br />
<br/>
<h3>Se encontraron <span id="resultados"><%= @profesores.total_count %></span> resultados</h3>
<br />

<div id="listado">
	<%= render @profesores %>
</div>
<br />

<div id="next_link">
  <%= render :partial => 'shared/show_more', :object => @profesores,
              :locals => { :url => "/profesores/mas_resultados.js", :parametros => { :profesor_q => :profesor_q } } %>
</div>

