<p id="notice"><%= notice %></p>

<p>
	<%= image_tag @profesor.avatar_url(:thumb).to_s unless @profesor.avatar_url.nil? %>
</p>

<p>
  <b>Nombre:</b>
  <%= @profesor.nombre %>
</p>

<p>
  <b>Apellido materno:</b>
  <%= @profesor.apellido_materno %>
</p>

<p>
  <b>Apellido paterno:</b>
  <%= @profesor.apellido_paterno %>
</p>

<p>
  <b>Campus:</b>
  <%= @profesor.campus.nombre %>
</p>


<%= link_to 'Edit', edit_profesor_path(@profesor) if can? :edit, @profesor  %>
<%= link_to 'Back', profesores_path %>
