<div id="promedio" style="float:right"><h3>Promedio: <%= @profesor.promedio %></h3></div>
<a href="http://twitter.com/home?status=Mira a este profesor en <%= request.url %>" title="Click to send this page to Twitter!" target="_blank">Tweet This!</a>

	<!--[if !IE 7]><!--><a name="fb_share" type="button_count" share_url="http://twitter.com/calmecac_me" href="http://www.facebook.com/sharer.php">Compartir</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script><!--<![endif]-->

<% store_requested_url unless current_usuario %>
<p>
	<%= image_tag @profesor.avatar_url(:thumb).to_s unless @profesor.avatar_url.nil? %>
</p>

<b>Nombre:</b>
<%= @profesor.nombre %>

<p>
  <b>Apellido materno:</b>
  <%= @profesor.apellido_materno %>
</p>

<p>
  <b>Apellido paterno:</b>
  <%= @profesor.apellido_paterno %>
</p>

<p>
  <b>Campus:</b>
  <%= @profesor.campus.nombre %>
</p>
<br />
<% if @profesor.cursos.empty? %>
	<h3>No hay cursos de este profesor</h3>
	<%= link_to "Asignar a un curso", edit_profesor_path %>
<% else %>
	<ul id="cursos">
	<% @cursos.each do |curso| %>
		<li><%= link_to_function curso.nombre, "cargar_curso_profesor(#{@profesor.id}, #{curso.id})" %></li>
	<% end %>
	</ul>
<% end %>
<br />

<div id="loading" class="test" style="display:none">
	<%= image_tag 'ajax-loader.gif' %>
</div>
<div id="curso_profesor" style="display:none;"></div>

<%= link_to 'Edit', edit_profesor_path(@profesor) if can? :edit, @profesor  %>
<%= link_to 'Back', profesores_path %>
