<% content_for :header do %>
	<h2 class="sign_up_header"><%= link_to "< Regresar a resultados", profesores_path %></h2>
	<div class="social-links">
		<div class="on-2 columns">
			<div class="fixed column" style="width:55px">
				<a href="http://twitter.com/home?status=Mira a este profesor en <%= request.url %>" title="Click to send this page to Twitter!" target="_blank"><%= image_tag "tweet_this.gif" %></a>
			</div>
			<div class="fixed column" style="width:83px">
				<!--[if !IE 7]><!--><a name="fb_share" type="button_count" share_url="<%= request.url %>" href="http://www.facebook.com/sharer.php">Compartir</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script><!--<![endif]-->
			</div>
		</div>
	</div>
<% end %>

<% store_requested_url unless current_usuario %>

<div class="unit">
	<div class="on-2 columns">
		<div class="fixed column" style="width:200px;">
			<div id="profesor_image">
				<%= image_tag @profesor.avatar_url(:thumb).to_s, :size => "180x180" %>
			</div>
			<br />
			<div id="promedio">
				<p>Calificación promedio</p>
				<h2><%= @profesor.promedio %></h2>
			</div>
		</div>
		<div class="fixed column" style="width:450px;margin-left:20px">
			<h2><%= @profesor.nombre_completo %><span id="edit_profesor"><%= link_to 'Editar', edit_profesor_path(@profesor) %></span></h2>
			<div class="profesor-universidad">
        <%= link_to @profesor.universidad.nombre, universidad_campus_index_path(@profesor.universidad) %> &gt; 
        <%= link_to @profesor.campus.nombre, campus_cursos_path(@profesor.campus) %>
      </div>
			<div id="caracteristicas_profesor">
				<%= render :partial => 'cursos_profesores/profesor_detalles', :locals => {:profesor => @profesor, :curso_profesor => @curso_profesor} %>
			</div>
		</div>
	</div>
</div>
<br />
<div id="profesor_cursos">
	<% if @profesor.cursos.empty? %>
		<h3>No hay cursos de este profesor</h3>
		<%= link_to "Asignar a un curso", edit_profesor_path %>
	<% else %>
	<div id="tabs">
		<ul>
		<% @cursos.each do |curso| %>
			<li><%= link_to_function curso.nombre, "cargar_curso_profesor(#{@profesor.id}, #{curso.id})", :class => "link-tab", :href => "#curso_profesor_#{curso.id}_#{@profesor.id}" %></li>
		<% end %>
		</ul>
		<%= display_calificaciones %>
	</div>

	<% end %>
</div>
<div id="loading" class="test" style="display:none">
	<%= image_tag 'ajax-loader.gif' %>
</div>

