<%= form_for([@campus, @propuesta], :url => {:controller => :propuestas, :action => (@propuesta.new_record? ? :create : :update) }) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  
  <div class="field">
		<%= f.label :tags_tokens, "Tags:" %>
		<%= f.text_field :tags_tokens, "data-pre" => @propuesta.tags.map(&:attributes).to_json, :id => 'tags_propuestas' %>

  	<% @new_tags.try :each_with_index, do |curso, i| %>
  	  <%= hidden_field_tag "propuesta[tags_attributes][#{Time.now.to_i + i}][nombre]", curso %>
  	<% end %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
