<div id="calificaciones">
	<p>Cantidad de reviews: <%= curso_profesor.calificaciones.size %></p>
	<p>Promedio general: <%= curso_profesor.promedio_general %></p>
	<p>Promedio puntualidad: <%= curso_profesor.promedio_puntualidad %></p>
	<p>Promedio amigable: <%= curso_profesor.promedio_amigable %></p>
	<p>Promedio conocimiento: <%= curso_profesor.promedio_conocimiento %></p>
	<p>Promedio claridad: <%= curso_profesor.promedio_claridad %></p>
	<p>Promedio flexibilidad: <%= curso_profesor.promedio_flexibilidad %></p>
</div>

<% if usuario_signed_in? %>
	<%= render :partial => 'calificaciones/form', :locals => {:calificacion => Calificacion.new, 
														  :curso_profesor_id => curso_profesor.id} %>
<% else %>
	Necesitas <%= link_to 'iniciar sesion', new_usuario_session_path %> para comentar o <%= link_to 'registrate', new_usuario_registration_path %>
<% end %>