<% content_for :header do %>
  <h1>Regístrate</h1>
<% end %>
<p>
Puedes registrarte con <br/>
<%= link_to 'Twitter', "/auth/twitter", :id => "twitter_login"%> |
<%= link_to 'Facebook', "/auth/facebook", :id => "facebook_login"%> <br/>
</p><br/>

<p>¿Ya estás registrado? <%= link_to "Inicia Sesión", new_usuario_session_path %></p><br/>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "generic-form"}) do |f| %>
  
  <% unless @usuario.autenticaciones.empty? %>
    <h2>
      Estas a un paso de estar registrado con <%= @usuario.autenticaciones.first.provedor.capitalize %><br/>
      Solo llena los siguientes campos
    </h2>
  <% end %>
  <br/>
  
  <%= devise_error_messages! %>

  <% if @usuario.username == nil %>
  <p>
    <%= f.label :username, 'Nombre de usuario' %><br />
    <%= f.text_field :username %>
  </p>
  <% end %>
  
  <% if @usuario.email == nil %>
    <p>
      <%= f.label :email, 'Correo Electrónico' %><br />
      <%= f.text_field :email %>
    </p>
  <% end %>
	
	<%= render 'universidad_campus_fields', :f => f %>

  <% if @usuario.password_required? %>
  <p>
    <%= f.label :password, 'Contraseña' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirma tu contraseña" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
<% end %>
<br/>

  <p><%= f.submit "Regístrate" %></p>
<% end %>
