<% title "Registrate" %>

<p>¿Ya estas registrado? <%= link_to "Inicia Sesión", new_usuario_session_path %>.</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <% if @usuario.username == nil %>
  <p>
    <%= f.label :username, 'Nombre de usuario' %><br />
    <%= f.text_field :username %>
  </p>
  <% end %>

  <p>
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </p>
	
	<div>
		<%= f.label :universidad_id, "Universidad" %><br />
	    <%= f.text_field :universidad_id %>
	</div>
	<div id="nueva_universidad_link" style="display:none">
		 No encontraste tu universidad da clic <%= link_to "aqui", new_universidad_path %>
	</div>

	<br />
	<div id="campus" style="display:none">
		<%= f.label :campus_id, "Campus" %><br />
	    <%= f.text_field :campus_id %>
	</div>

  <% if @usuario.password_required? %>
  <p>
    <%= f.label :password, 'Contraseña' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirma tu contraseña" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
<% end %>


  <p><%= f.submit "Registrate" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
