<% content_for :header do %>
  <h1>Regístrate</h1>
<% end %>

<div class="on-3 columns">
	<div class="fixed column" style="width:300px;padding-left:20px">
	<br /><center><%= link_to (image_tag "twitter.png"), "/auth/twitter", :id => "twitter_login", :class => "social-login" %>
		<%= link_to (image_tag "facebook_connect.png"), "/auth/facebook", :id => "facebook_login", :class => "social-login" %>
  <br />
  <br />
  <p>¿Ya estás registrado?</p>
  <h3 class="sign_up_header"><%= link_to 'Inicia Sesión', new_usuario_session_path  %></h3></center>
  <br/>  
  </div>
	<div class="fixed column" id="vertical-line" style="width:2px;">

	</div>
	<div class="fixed column" style="width:323px;margin-left:60px">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "generic-form"}) do |f| %>

		  <% unless @usuario.autenticaciones.empty? %>
		    <h2>
		      Estas a un paso de estar registrado con <%= @usuario.autenticaciones.first.provedor.capitalize %><br/>
		      Solo llena los siguientes campos
		    </h2>
		  <% end %>
		  <br/>

		  <%= devise_error_messages! %>

		  <% if @usuario.username == nil %>
		  <p>
		    <%= f.label :username, 'Nombre de usuario' %><br />
		    <%= f.text_field :username %>
		  </p>
		  <% end %>
		  <br />
		  <% if @usuario.email.blank?%>
		    <p>
		      <%= f.label :email, 'Correo Electrónico' %><br />
		      <%= f.text_field :email %>
		    </p>
		  <% end %>
			<br />
			<%= render 'universidad_campus_fields', :f => f %>

		  <% if @usuario.password_required? %>
		  <p>
		    <%= f.label :password, 'Contraseña' %><br />
		    <%= f.password_field :password %>
		  </p>
		<br />
		  <p>
		    <%= f.label :password_confirmation, "Confirma tu contraseña" %><br />
		    <%= f.password_field :password_confirmation %>
		  </p>
		<% end %>
		<br/>

		  <p><%= f.submit "Regístrate" %></p>
		<% end %>
	</div>
</div>
