<%= form_for [@campus, @curso], :html => {:class => "generic-form"} do |f| %>
  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
	<div>
    <h3>Este curso será creado en <%=current_usuario.campus %> de <%=current_usuario.universidad.nombre %></h3>  
  <br/>
  <div class="field">
    <%= f.label :nombre, 'Nombre del curso' %><br />
    <%= f.text_field :nombre %>
  </div>

	</div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
