<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @curso.nombre %>
</p>

<p>
  <b>Campus:</b>
  <%= @curso.campus_id %>
</p>


<%= link_to 'Edit', edit_curso_path(@curso) if can? :edit, @curso %>
<%= link_to 'Back', campus_cursos_path(@curso.campus) %>
