<br />
<%= form_for(calificacion, :html => {:class => "generic-form"}) do |f| %>

	<div class="unit">
		<div class="on-2 columns">
			<div class="column">
				<%= f.label :puntualidad %><br />
		    <%= f.text_field :puntualidad %>
			</div>
			<div class="column">
				<%= f.label :amigable %><br />
		    <%= f.text_field :amigable %>
			</div>
		</div>
		<br />
		<div class="on-2 columns">
			<div class="column">
				<%= f.label :conocimiento %><br />
		    <%= f.text_field :conocimiento %>
			</div>
			<div class="column">
				<%= f.label :claridad %><br />
		    <%= f.text_field :claridad %>
			</div>
		</div>
		<br />
		<div class="on-2 columns">
			<div class="column">
				<%= f.label :flexibilidad %><br />
		    <%= f.text_field :flexibilidad %>
			</div>
			<div class="column">
				<%= f.label :facilidad %><br />
		    <%= f.text_field :facilidad %>
			</div>
		</div>
		<br />
		<div class="on-2 columns">
			<div class="column">
				
			</div>
			<div class="column">
				<%= f.label :calificacion_obtenida, "¿Qué calificación obtuviste en la materia?" %><br />
		    <%= f.text_field :calificacion_obtenida %>
			</div>
		</div>
		<br />
		<div id="name">
			<%= f.label :critica %><br />
	    <%= f.text_area :critica, :rows => 5 %>
		</div>
	</div>
    
    <%= f.hidden_field :curso_profesor_id, :value => curso_profesor_id %>
  <div class="actions_calificar">
    <%= f.submit "Calificar" %>
  </div>
<% end %>
