<h1>Listing calificaciones</h1>

<table>
  <tr>
    <th>Puntualidad</th>
    <th>Amigable</th>
    <th>Conocimiento</th>
    <th>Claridad</th>
    <th>Flexibilidad</th>
    <th>Promedio</th>
    <th>Comentarios</th>
    <th>Profesor</th>
    <th>Facilidad</th>
    <th>Calificacion obtenida</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @calificaciones.each do |calificacion| %>
  <tr>
    <td><%= calificacion.puntualidad %></td>
    <td><%= calificacion.amigable %></td>
    <td><%= calificacion.conocimiento %></td>
    <td><%= calificacion.claridad %></td>
    <td><%= calificacion.flexibilidad %></td>
    <td><%= calificacion.promedio %></td>
    <td><%= calificacion.comentarios %></td>
    <td><%= calificacion.profesor_id %></td>
    <td><%= calificacion.facilidad %></td>
    <td><%= calificacion.calificacion_obtenida %></td>
    <td><%= link_to 'Show', calificacion %></td>
    <td><%= link_to 'Edit', edit_calificacion_path(calificacion) %></td>
    <td><%= link_to 'Destroy', calificacion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Calificacion', new_calificacion_path %>
