<p id="notice"><%= notice %></p>

<p>
  <b>Puntualidad:</b>
  <%= @calificacion.puntualidad %>
</p>

<p>
  <b>Amigable:</b>
  <%= @calificacion.amigable %>
</p>

<p>
  <b>Conocimiento:</b>
  <%= @calificacion.conocimiento %>
</p>

<p>
  <b>Claridad:</b>
  <%= @calificacion.claridad %>
</p>

<p>
  <b>Flexibilidad:</b>
  <%= @calificacion.flexibilidad %>
</p>

<p>
  <b>Promedio:</b>
  <%= @calificacion.promedio %>
</p>

<p>
  <b>Comentarios:</b>
  <%= @calificacion.comentarios %>
</p>

<p>
  <b>Profesor:</b>
  <%= @calificacion.profesor_id %>
</p>

<p>
  <b>Facilidad:</b>
  <%= @calificacion.facilidad %>
</p>

<p>
  <b>Calificacion obtenida:</b>
  <%= @calificacion.calificacion_obtenida %>
</p>


<%= link_to 'Edit', edit_calificacion_path(@calificacion) if can? :edit, @calificacion %>
<%= link_to 'Back', calificaciones_path %>
