<% content_for :header do %>
  <h1>Bienvenido</h1>
  <h3>Busca, encuentra y califica a tus profesores <h3>
<% end %>

<h3>Empieza por aquí</h3> <br/>
<%= form_tag root_path, :method => :get, :id => "busqueda_general", :class => "generic-form" do |f| %>
	<div>
		<%= label_tag :universidad_id, "Universidad" %><br />
	    <%= text_field_tag :universidad_id, "", "data-pre" => @universidad_data %>
	</div>
	<div id="nueva_universidad_link" style="display:none">
		 No encontraste tu universidad da clic <%= link_to "aqui", new_universidad_path %>
	</div>
	<br />	
	<div id="campus">
		<%= label_tag :campus_id, "Campus" %><br />
	  <%= text_field_tag :campus_id, "", :class => "token_field",
	                      "data-url" => @campus_url, "data-pre" => @campus_data %>
	</div>

	<br />
	<div id="curso" style="">
		<%= label_tag :curso_nombre, "Curso" %><br />
	    <%= text_field_tag :curso_nombre, params[:curso_nombre] %>
	</div>
	<br />
	<div id="profesor" style="">
		<%= label_tag :profesor_nombre, "Profesor" %><br />
	    <%= text_field_tag :profesor_nombre, params[:profesor_nombre] %>
	</div>

  <br />
  <%= submit_tag 'Buscar', :name => nil %>

<% end %>
<br />
<div id="resultados_index">
  <%= render @resultados %>
</div>

<div id="next_link">
  <%= render :partial => 'shared/show_more', :object => @resultados,
              :locals => { :url => "/pages/mas_resultados.js", :parametros => { :curso_nombre => :curso_nombre, :campus_id => :campus_id, :profesor_nombre => :profesor_nombre, :page => :page } } %>
</div>
