<% title "Bienvenido" %>

<%= form_tag root_path, :method => :get do |f| %>
	<div>
		<%= label_tag :universidad_id, "Universidad" %><br />
	    <%= text_field_tag :universidad_id %>
	</div>
	<div id="nueva_universidad_link" style="display:none">
		 No encontraste tu universidad da clic <%= link_to "aqui", new_universidad_path %>
	</div>
	
	<br />
	<div id="campus" style="display:none">
		<%= label_tag :campus_id, "Campus" %><br />
	    <%= text_field_tag :campus_id %>
	</div>

	<br />
	<div id="curso" style="display:none">
		<%= label_tag :curso_id, "Curso" %><br />
	    <%= text_field_tag :curso_id %>
	</div>

  <br />
  <%= submit_tag 'Buscar', :name => nil %>
<% end %>

<div id="resultados_index">
  <%= render @resultados %>
</div>

<script>
	$("#curso_id").bind("textchange", function(){
		$.get("/.js", {
                                nombre_curso: $("#curso_id").val(),
                                campus_id: $("#campus_id").val()
      });
	});
</script>

