<% title "Inicia Sesión" %>
<p/>
Puedes registrarte con <br/>
<%= link_to 'Twitter', "/auth/twitter", :id => "twitter_login"%> |
<%= link_to 'Facebook', "/auth/facebook", :id => "facebook_login"%> <br/>
</p><br/>

<p><%= link_to "Regístrate",  new_usuario_registration_path %></p>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div><%= f.label :login, "Nombre de usuario o Email" %><br />
    <%= f.text_field :login %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, 'Recuérdame'%></div>
  <% end -%>

  <div><%= f.submit "Inicia sesión" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
