<%= form_for @usuario do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username, 'Nombre de usuario' %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </p>

	<p>
		<%= f.label :universidad_id, "Universidad" %><br />
	    <%= f.text_field :universidad_id %>
	</p>
	
	<p>
		<%= f.label :campus_id, "Campus" %><br />
	    <%= f.text_field :campus_id %>
	</p>

  <p>
    <%= f.label :password, 'Contraseña' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirma tu contraseña" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit (@usuario.new_record? ? "Registrate" : "Actualiza tu información") %></p>
<% end %>
