<div class="main-container">
  <h2>Acerca de Calmecac</h2>
  <ul>
    <li><%= link_to "Sobre Nosotros", about_us_path %></li>
    <li><%= link_to "Contactanos", contact_path %></li>
    <li><%= link_to "Términos de uso", terms_of_use_path %></li>
    <li><%= link_to "Privacidad", privacy_path %></li>
    <li><%= link_to "Aviso legal", legal_advisor_path %> </li>
  </ul>
  <p>Derechos reservados © Calmecac.me, México <%= Time.now.year %></p>
</div>