<div class="main-container">
  <h2>Acerca de Calmecac</h2>
    <div class="columns on-2">
      <div class="column">
        <ul>
          <li><%= link_to "Sobre Nosotros", about_us_path %></li>
          <li><%= link_to "Contáctanos", contact_path %></li>
          <li><%= link_to "Términos de uso", terms_of_use_path %></li>
          <li><%= link_to "Privacidad", privacy_path %></li>
          <li><%= link_to "Aviso legal", legal_advisor_path %> </li>
        </ul>
      </div>
     <div class="column">
        <%= link_to (image_tag 'FaceBook-icon.png'), 'http://facebook.com/calmecac', :alt => 'Danos Like' %>
        <%= link_to (image_tag 'Twitter-icon.png'), 'http://twitter.com/calmecac_me', :alt => 'Síguenos' %>
      </div>
    </div>
  <br/>
  <p>Derechos reservados © Calmecac.me, México <%= Time.now.year %></p>
</div>

<form name="search-form" class="columns on-4 busqueda">
