<div id="footer_menu_container">
	<%= link_to "Sobre Nosotros", about_us_path %> |
	<%= link_to "Contactanos", contact_path %> | 
	<%= link_to "Retroalimentanos", "#" %>
	<br />
	<%= link_to "Términos de uso", terms_of_use_path %> |
	<%= link_to "Privacidad", privacy_path %> |
	<%= link_to "Aviso legal", legal_advisor_path %> 
	<br />
	<span>Derechos reservados © Calmecac.me, México <%= Time.now.year %></span>
</div>