<div class="on-2 columns">
	<div class="column">
		<div id="menu_container">
		  <%= link_to "Home", root_path %>
		  <%= link_to 'Universidades', universidades_path %>
		  <%= link_to 'Profesores', profesores_path %>
		  <%= link_to 'Cursos', campus_cursos_path(current_usuario.campus_id) if current_usuario%>
		</div>
	</div>
	
	<div class="column">
		<div id="sessions">
		<% if usuario_signed_in? %>
		  <%= link_to "#{current_usuario.username}", edit_usuario_registration_path %> |
		  <%= link_to "Cerrar sesión", destroy_usuario_session_path, :method => :delete %>
		<% else %>
			<%= link_to 'Iniciar Sesion', new_usuario_session_path %> |
			<%= link_to 'Registrate', new_usuario_registration_path %>
		<% end %>
		</div>
	</div>
</div>


