<div class="on-2 columns">
	<div class="column">
		<div id="menu_container">
		  <%= link_to 'Universidades', universidades_path %>
		</div>
	</div>
	
	<div class="column">
		<div id="sessions">
		<% if usuario_signed_in? %>
		  <%= link_to "#{current_usuario.username}", "#" %> |
		  <%= link_to "Cerrar sesión", destroy_usuario_session_path %>
		<% else %>
			<%= link_to 'Iniciar Sesion', new_usuario_session_path %> |
			<%= link_to 'Registrate', new_usuario_registration_path %>
		<% end %>
		</div>
	</div>
</div>


