<div class="on-2 columns">
	<div class="column">
		<div id="menu_container">
		  <%= link_to 'Universidades', universidades_path %> |
		  <%= link_to 'Cursos', cursos_path %> |
		  <%= link_to 'Profesores', profesores_path %>
		</div>
	</div>
	
	<div class="column">
		<div id="sessions">
		  <%= link_to 'Iniciar Sesion', login_path %> |
		  <%= link_to 'Registrate', signup_path %>
		</div>
		
	</div>
</div>


