<div id = "header_izquierda">
  <%= link_to 'Universidades', universidades_path %> |
  <%= link_to 'Cursos', cursos_path %> |
  <%= link_to 'Profesores', profesores_path %>
</div>
<div id = "header_derecha">
  <%= link_to 'Iniciar Sesion', login_path %> |
  <%= link_to 'Registrate', signup_path %>
</div>
