<div class="on-2 columns">
	<div class="column">
		<div id="menu_container">
		  <%= link_to 'Universidades', universidades_path %>
		</div>
	</div>
	
	<div class="column">
		<div id="sessions">
		<% if logged_in? %>
		  <%= link_to "#{current_usuario.username}", "#" %> |
		  <%= link_to "Cerrar sesión", logout_path %>
		<% else %>
			<%= link_to 'Iniciar Sesion', login_path %> |
			<%= link_to 'Registrate', signup_path %>
		<% end %>
		</div>
	</div>
</div>


